/* Primary SCSS file for the theme */
nav {
  box-shadow: 0 10px 15px #6C6C6C !important;
  margin-bottom: 0; }
  nav a.navbar-brand {
    color: #9d9d9d; }
  nav a.navbar-brand:hover {
    color: #FFF; }
  nav ul#menu-primary li {
    display: inline-block; }
    nav ul#menu-primary li a {
      padding: 15px 15px 20px 10px;
      color: #9d9d9d; }
    nav ul#menu-primary li a:hover, nav ul#menu-primary li a:active, nav ul#menu-primary li a:focus {
      background-color: #333;
      color: #FFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn', serif; }

p {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px; }

div.row.top_row {
  padding-top: 80px; }

div.main_content {
  background-color: rgba(224, 225, 226, 0.3);
  margin-top: 15px;
  padding: 0 30px 0 30px;
  -webkit-box-shadow: 0px 0px 40px 1px rgba(224, 225, 226, 0.41);
  -moz-box-shadow: 0px 0px 40px 1px rgba(224, 225, 226, 0.41);
  box-shadow: 0px 0px 40px 1px rgba(224, 225, 226, 0.41); }

a {
  color: #658ac6; }

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: black; }

hr {
  border-color: #dcdee2; }

img {
  margin: auto;
  display: block;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }

h4 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px; }
  h4 a {
    color: black; }
  h4 a:hover {
    cursor: pointer; }

#header_photo {
  margin: 0;
  box-shadow: 0px 10px 15px #6C6C6C; }
  #header_photo img {
    width: 100%; }

div.row.top_row.front_page {
  margin-top: -25px; }

div.fp_post_container {
  padding: 10px; }
  div.fp_post_container p.more_content {
    margin-top: 40px; }

div.project_category_container {
  border: 2px solid grey;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(201, 202, 204, 0.3);
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 50px; }
  div.project_category_container ul.projects_category_list {
    margin-left: 0;
    padding-left: 0; }
    div.project_category_container ul.projects_category_list li.project_container {
      list-style: none;
      margin-top: 25px; }
  div.project_category_container div#more-projects {
    text-align: center;
    background-color: black;
    color: white;
    margin: 15px -21px -21px -21px;
    height: 5%;
    border-radius: 0 0 15px 15px;
    padding-top: 10px;
    transition: opacity 1s; }
  div.project_category_container div#more-projects:hover {
    opacity: 0.7;
    cursor: pointer; }
  div.project_category_container div#load-more-projects {
    text-align: center;
    background-color: white;
    height: 5%;
    margin: 15px -20px -20px -20px;
    padding-top: 10px;
    font-weight: 700;
    transition: background-color 1s;
    display: none; }
  div.project_category_container div#load-more-projects:hover {
    background-color: #e6e6e6;
    cursor: pointer; }
  div.project_category_container div.loader-container {
    display: none;
    position: relative;
    left: 46%; }

li.hidden_projects {
  display: none; }

body.page-template-templ_latest_insights ul.insights_list {
  padding-left: 0;
  margin-left: 0; }
  body.page-template-templ_latest_insights ul.insights_list li.insights_container {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px; }

body.page-template-templ_latest_insights div.loader-container {
  display: none;
  position: relative;
  left: 46%;
  margin-bottom: 15px; }

body.page-template-templ_latest_insights li.insights_container.loaded {
  display: none; }

body.page-template-templ_latest_insights div.main_content {
  margin-top: -10px; }

div#about-me.main_content {
  margin-top: -10px; }
  div#about-me.main_content h1 > p {
    font-size: 36px !important; }
