nav {
  box-shadow: 0 10px 15px #6C6C6C !important;
  margin-bottom: 0;

  a.navbar-brand {
    color: #9d9d9d;
  }
  a.navbar-brand:hover  {
    color: #FFF;
  }

  ul#menu-primary {

    li {
      display: inline-block;

      a {
        padding: 15px 15px 20px 10px;
        color: #9d9d9d;
      }
      a:hover, a:active, a:focus {
        background-color: #333;
        color: #FFF;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn', serif;
}

p {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  //font-size: 2.0em;
}

div.row.top_row {
  padding-top: 80px;
}
div.main_content {
  background-color: rgba(224, 225, 226, 0.3);
  margin-top: 15px;
  padding: 0 30px 0 30px;
  -webkit-box-shadow: 0px 0px 40px 1px rgba(224, 225, 226,0.41);
  -moz-box-shadow: 0px 0px 40px 1px rgba(224, 225, 226,0.41);
  box-shadow: 0px 0px 40px 1px rgba(224, 225, 226,0.41);
}

a {
  color: #658ac6;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

hr {
  border-color: #dcdee2;
}

img {
  margin: auto;
  display: block;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

h4 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;

  a{
    color: black;
  }
  a:hover {
    cursor: pointer;
  }
}