nav {
  box-shadow: 0 10px 15px #6C6C6C !important;
  margin-bottom: 0;

  ul#menu-primary {
    li {
      display: inline-block;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn', serif;
}

p {
  font-family: 'Libre Baskerville', serif;
  //font-size: 2.0em;
}